{deps,
 [{eenum, ".*", {git, "https://github.com/rpt/eenum", {branch, "master"}}},
  {cowlib, ".*", {git, "https://github.com/ninenines/cowlib", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", {branch, "master"}}}
 ]}.
{sub_dirs,
 ["apps/httpsrv"
 ]}.
% {erl_opts, [{parse_transform, eenum}]}.
